# Dependencies
node_modules
.pnpm-store

# Next.js build output
.next
out

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# IDE files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Git files
.git
.gitignore

# Docker files
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

# Testing
coverage
.nyc_output

# Misc
README.md
LICENSE
*.md